<h4 class="header">
  <% if (format = settings[:format]) %>
    <%= _('Latest %s Host Reports') % settings[:format] %>
  <% else %>
    <%= _('Latest Host Reports %s') % disabled_hosts%>
  <% end %>
</h4>
<ul>
  <%= render "dashboard/host_reports_status_links", format: format&.downcase %>
  <h4 class="total"><%= _("Total hosts: %s") % total_hosts(format&.downcase) %></h4>
</ul>
