<table class="center" >
  <tbody>
    <tr>
      <td class="dashboard">
        <%= (n_('<b style="color: #6bb5df;">%{change}</b>
               <p>Changed</p>',
              '<b style="color: #6bb5df;">%{change}</b>
               <p>Changed</p>', change) % { :change => change }).html_safe %>
      </td>
      <td class="dashboard">
        <%= (n_('<b style="color: #6bb5df;">%{failure}</b>
               <p>Failed</p>',
              '<b style="color: #6bb5df;">%{failure}</b>
               <p>Failed</p>', failure) % { :failure => failure }).html_safe %>
      </td>
      <td class="dashboard">
        <%= (n_('<b style="color: #6bb5df;">%{nochange}</b>
               <p>Unchange</p>',
              '<b style="color: #6bb5df;">%{nochange}</b>
               <p>Unchange</p>', nochange) % { :nochange => nochange }).html_safe %>
      </td>
    </tr>
  </tbody>
</table>
